/koodi/viikko2/RiippuvuuksienInjektointiSpring/build/
/Verkkokauppa1/build/
/RiippuvuuksienInjektointiSpring/build/
/LoginCucumber/.gradle/
/LoginCucumber/build/
/WebLogin/.gradle/
/MockitoDemo/.gradle/
/MockitoDemo/build/
/MaksukorttiMockito/.gradle/
/MaksukorttiMockito/build/
/Verkkokauppa/.gradle/
/Verkkokauppa/build/
/IntJoukkoSovellus/.gradle/
/IntJoukkoSovellus/build/
/Tennis/.gradle/
/Tennis/build/
/LaskinFX8/build/
/LaskinSwing/.gradle/
/LaskinSwing/build/